.FF-E {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
    text-align: center;
    border: solid #102C57 2px;
    background-color: #DAC0A3;
    border-style: initial double;
    border-width: 7px 2.25px;

}
